*{
    margin: 0;
    padding: 0;
    color: rgb(216, 231, 221);
    font-family: "Teko", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    max-width: 100vw;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 15px;
    background-color: rgba(18, 180, 107, 0.5);
    box-shadow: 2px 2px 5px rgb(3, 16, 0);
    color: aliceblue;
    font-size: 1.75rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(58, 157, 96);
}

button:active {
    transform: translate(0.25rem, 0.25rem);
    box-shadow: 0rem 0rem 0rem rgb(3, 33, 47, 0.5);
}

input {
    height: 2rem;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: rgb(94, 107, 97) solid 2px;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: rgb(32, 32, 32);
}

.passwords:invalid {
    border-color: rgb(205, 61, 61);
    box-shadow: 2px 1px 5px rgba(139, 17, 17, 0.5);
}

.passwords:valid {
    border-color: rgb(169, 205, 61);
    box-shadow: 2px 1px 5px rgba(92, 139, 17, 0.5);
}

input:focus {
    outline: none;
    border-color: rgb(198, 235, 200);
    box-shadow: 2px 2px 5px rgba(9, 45, 57, 0.5);
}

label {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
}

form {
    height: auto;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.Section {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.row {
    display: flex;
    gap: 8rem;
    width: 80%;
}

.column {
    height: 5rem;
    flex: 50%;
    font-size: 1.5rem;
    gap: 2rem;
}

#leftSide{
    height: 100%;
    width: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("leftImage.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoBlock {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color: rgba(5, 35, 41, 0.75);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#logoText {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: white;
}

#logoImg {
    height:150px;
    width: 150px;
}

#rightTopSide {
    width: 55%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 2rem;
}

#rightMiddleSide {
    height: 50%;
    background-color: rgb(38, 56, 44);
    box-shadow: 0px 10px 10px rgb(3, 16, 0);
    flex-direction: column;
    flex-wrap: wrap;
}

#rightBottomSide {
    height: 25%;
    font-size: 1.5rem;
}

#accConfirm {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
}

#logInLink {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
}

#passCornfirmTxt {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
}

#passwordRequirements li {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    color: rgb(255, 162, 162);
}

#passwordRequirements li.met {
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.25rem;
    color: rgb(146, 255, 146);
}